body {
	background-image: url(lavaboy.jpg); 
}
h1{
	color: #80bfff;
	font-family: roboto slab;
	text-shadow: 
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	text-align: center;
	margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.btn-outline-danger{

	background-color: #d3d3d3;
	padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: roboto slab;
    color: black;
    font-size: 30pt;
	
	text-align: center;
	margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-outline-danger:hover{ 
	background-color: #ef7110;
	transition: 0.5s ease-in-out;
}
